
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.intro-section h1{
    font-size: 72px;
    line-height: 72px;
    font-family: 'Pacifico';
}
.intro-section h1 span{
    color: #72c04a;
}
.intro-section h2{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Raleway Medium';
}

@media(min-width:767px) {
    .navbar {
        /*added but not change*/


        /*added but not change*/
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */
.navbar-brand>img {
    background-image: url(../images/CLICKZOOgreen.png);
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
}
.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: url("../images/Fogyosemite-1813241.jpg");
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #2fbcba;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #e7d616;
}
.red-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #ca544b;
}
.contact-head>img {

    max-height: 100%;
    height: 100%;
    width: 160px;
    margin: 34px auto;


    /* probably not needed anymore, but doesn't hurt */
    /*-o-object-fit: contain;*/
    /*object-fit: contain;*/

}
.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #ffffff;
}